.product-form {
    display: flex;
    flex-flow: column;
    width: 20rem;
    box-sizing: border-box;
    padding: 0.5rem;
    max-width: 90%;
    margin: 0 auto;
    /* border: 1px solid black; */
    box-shadow: 1px 1px 3px #884400;
    border-radius: 3px;
}

.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input {
    display: block;
}

.form-control label {
    color: #cc7700;
    font-weight: bold;
}

.form-control input {
    box-sizing: border-box;
    border: 1px solid #cc7700;
    font: inherit;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    width: 100%;
}

button {
    font: inherit;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border: 1px solid #cc7700;
    color: #cc7700;
    background: white;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}

button:hover,
button:active {
    color: white;
    background-color: #cc7700;
}
