<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/product.css" />
        <link rel="stylesheet" href="/css/main.css" />
        <title></title>
    </head>
    <body>
        <header class="main-header">
            <nav class="main-header__nav">
                <ul class="main-header__item-list">
                    <li class="main-header__item">
                        <a href="/">Shop</a>
                    </li>
                    <li class="main-header__item">
                        <a class="active" href="/admin/add-product"
                            >Add Product</a
                        >
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="product-form">
                <div class="form-control">
                    <label for="title">Title</label>
                    <input type="text" name="title" id="title" />
                </div>
                <button id="form_submit" type="button">Add Product</button>
            </div>
        </main>
        <script>
            const formSubmit = document.querySelector("#form_submit");
            const productTitle = document.querySelector("#title");
            formSubmit.addEventListener("click", (el, ev) => {
                console.log(productTitle.value);
                fetch("http://localhost:3001/products", {
                    method: "POST",
                    headers: {
                        "content-type": "application/json"
                    },
                    body: JSON.stringify({ title: productTitle.value })
                })
                    .then(() => window.location.replace("/"))
                    .catch(err => console.log(err));
            });
        </script>
    </body>
</html>
