<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/main.css" />
        <title></title>
    </head>
    <body>
        <header class="main-header">
            <nav class="main-header__nav">
                <ul class="main-header__item-list">
                    <li class="main-header__item">
                        <a class="active" href="/">Shop</a>
                    </li>
                    <li class="main-header__item">
                        <a href="/admin/add-product">Add Product</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <h1>My Products</h1>
            <div id="products_list"></div>
        </main>
        <script>
            const productList = document.querySelector("#products_list");
            fetch("http://localhost:3001/products")
                .then(response => response.json())
                .then(data => {
                    for (let p of data.products) {
                        const paragraph = document.createElement("p");
                        paragraph.innerText = `${p.id} - ${p.title}`;
                        productList.appendChild(paragraph);
                    }
                })
                .catch(err => console.log(err));
        </script>
    </body>
</html>
